* { margin: 0; padding: 0; box-sizing: border-box; }
html, body, #app { width: 100%; height: 100%; overflow: hidden; }
body { background: #000; color: #fff; font-family: 'OPPOSans-R', 'Microsoft Yahei', sans-serif; }
img { display: block; user-select: none; -webkit-user-drag: none; }
ul, ol { list-style: none; }
