@font-face { font-family: 'YouSheBiaoTiHei'; src: url('../assets/fonts/YouSheBiaoTiHei.woff') format('woff'); font-display: swap; }
@font-face { font-family: 'OPPOSans-R'; src: url('../assets/fonts/OPPOSans-R.woff') format('woff'); font-display: swap; }
@font-face { font-family: 'OPPOSans-M'; src: url('../assets/fonts/OPPOSans-M.woff') format('woff'); font-display: swap; }
@font-face { font-family: 'Bebas'; src: url('../assets/fonts/Bebas.woff') format('woff'); font-display: swap; }
